/*body{
    background: #0887ff url("fondo2.jpg") no-repeat fixed left top;
}*/
/*
body {
    background-color: #50f31ec5;
    background-image: url("fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right top;
  }
  */
  /*El codigo de abajo es una propiedad abreviada del comentario anterior*/
  
  /*div{
      border-style: solid;
      border-width: 5px;
      border-color: yellow;
      margin-top: 250px;
      margin-right: 750px;
      margin-left: 750px;
  }
  */
  /*El codigo de abajo es una propiedad abreviada del comentario anterior*/
  body{
      background-color: #50f31ec5; 
      overflow-y: hidden;
  }
  div{
      border: 5px solid yellow;
      border-radius: 5px;
      margin: 250px 750px 750px;
      padding: 20px 50px 50px 50px;
      background-color: #EEEEEE;
      font-family: sans-serif;
      min-width: 320px;
      max-width: 350px;
      background-attachment: fixed;
     
  }
  input{
      border-radius: 15px;
      padding: 10px;
      
  }
  button{
      border-radius: 15px;
      padding: 10px;
           
      
  }
 